body{background-image: url("images/background.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    }

.header{
    color: red;
    padding: 20px;
    text-align: center;
}

.inbox{
    background-color: darkblue;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: start;
}
